.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.container {
}
.footer-top {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
}
.footer-top-menu {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}
.footer-top-title {
    font-size: 18px;
    text-align: left;
    color: $white;
}
.footer-link {
    color: $link;
}
.footer-top-link {
    
}
.footer-socials{
    display: flex;
    align-items: center;
}
.footer-social{
    margin-right: 24px;
}
.footer-bottom {
    padding: 2rem 0;
    border-top: 2px solid $white;
}
.footer-bottom-menu {
}
.footer-bottom-link {
    margin-right: 16px;
}