*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: $text;
    background: $bg;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

input{
    outline: none;
    border: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.uppercase{
    text-transform: uppercase;
}
.btn{
    text-transform: uppercase;
    color: $white;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
}
.btn-border{
    border: 1px solid;
}
.btn-green {
    background: $green;
    color: $white;
}
.btn-purple {
    background: $purple;
}
.btn-red {
    background: $red;
}
@media(max-width: 1240px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media(max-width: 576px){
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}