.pricing {
    padding-top: 100px;
    color: $white;
    text-align: center;
}
.pricing-title {
    margin-bottom: 48px;
}
.pricing-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pricing-item {
    width: calc(100% / 3 - 33px);
    margin-bottom: 40px;
    padding: 21px 1.5rem 64px;
    border-radius: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-free {
    background-image: url('../images/subscribe_1.png');
}
.bg-standard {
    background-image: url('../images/subscribe_2.png');
}
.bg-premium {
    background-image: url('../images/subscribe_3.png');
}
.pricing-item-title {
    margin-bottom: 200px;
    font-weight: 400;
    font-size: 24px;
}
.pricing-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.pricing-value {
    font-size: 64px;
    margin-right: 16px;
    line-height: 1;
}
.pricing-rub {
    font-size: 32px;
    line-height: 1;
    position: relative;
    top: -7px;
}
.pricing-buy {
    margin-bottom: 64px;
    width: 100%;
}
.pricing-description {
    font-size: 13px;
    line-height: 150%;
}
.pricing-footer {
    font-size: 16px;
    line-height: 150%;
}
@media(max-width:768px){
    .pricing-item{
        width: 100%;
        padding-top: 15px;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 40px;
        }
    }
}
@media(max-width:576px){
    .pricing-item-title {
        font-size: 16px;
        font-weight: 700;
    }
}