@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Mediun") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold") format("ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: capitalize;
}

input {
  outline: none;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn-green {
  background: #34C176;
  color: #fff;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.header {
  position: absolute;
  width: 100%;
  padding: 25px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-music {
  position: relative;
  padding-left: 40px;
}

.header-music::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='104px' height='104px' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='3.Multimedia' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='Multimedia-(Monochrome)' transform='translate(-498.000000, -702.000000)' stroke='%231565C0' stroke-width='3.5'%3e%3cg id='33-multimeda-music-itunes' transform='translate(500.000000, 704.000000)'%3e%3ccircle id='Layer-1' fill='%23E2F3FB' cx='50' cy='50' r='50'%3e%3c/circle%3e%3cpolygon id='Layer-2' fill='%23FFFFFF' points='70.9656218 19.241641 70.9656218 34.4892293 34.9898888 40.5107273 34.9898888 25.2887601'%3e%3c/polygon%3e%3cellipse id='Layer-3' fill='%23FFFFFF' cx='63.4706775' cy='66.44' rx='7.49494439' ry='5.93'%3e%3c/ellipse%3e%3cellipse id='Layer-4' fill='%23FFFFFF' cx='27.4949444' cy='72.37' rx='7.49494439' ry='5.93'%3e%3c/ellipse%3e%3cpath d='M34.9898888,40.6431145 L34.9898888,72.37' id='Layer-5' fill='%23E2F3FB'%3e%3c/path%3e%3cpath d='M70.9656218,35.011 L70.9656218,66.4450242' id='Layer-6' fill='%23E2F3FB'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.header-nav-item {
  margin-right: 24px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  color: #cacaca;
  font-size: 11px;
}

.header-search {
  margin: 0 0 0 auto;
  width: 248px;
}

.header-search-input {
  width: 100%;
  height: 25px;
  background: #3C3B3D;
  border-radius: 50px;
  padding: 0 10px;
  color: #fff;
}

.header-search-input::-moz-placeholder {
  color: #757575;
}

.header-search-input::placeholder {
  color: #757575;
}

.hero {
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.hero-subtitle {
  margin-bottom: 30px;
}

.hero-description {
  margin-bottom: 16px;
}

.hero-form {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.form-input {
  width: calc(50% - 12px);
  height: 50px;
  border-radius: 3px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 0 22px;
  background: transparent;
}

.form-input::-moz-placeholder {
  color: #fff;
}

.form-input::placeholder {
  color: #fff;
}

.form-btn {
  width: 100%;
  margin-top: 24px;
  height: 57px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  border: none;
}/*# sourceMappingURL=app.css.map */