@import 'variables';

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: $text;
    background: $bg;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: capitalize;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: capitalize;
}

@media(max-width: 576px){
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}